# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build folders
bin/
obj/
out/

# NuGet
*.nupkg
packages/
*.snupkg

# Logs
*.log

# Rider / JetBrains
.idea/
*.sln.iml

# OS files
.DS_Store
Thumbs.db

# Publish output
publish/

# EF Core
Migrations/*Designer.cs
Migrations/*.Snapshot.cs